@import "components/config";
@import "components/main-navbar";

html {
  box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  height: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: cornflowerblue;
}


.swiper {
  width: 600px;
  height: 300px;
}