.main-navibar.swiper {
  display: none;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 10px 0 10px 10px;
  position: relative;
}
.navbar__elements {
  .navbar__element {
    text-align: left;
    padding-left: 10px;
    width: auto !important;

    a {
      border-left: 2px solid $navbar-text-color;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      margin-bottom: 0;
      font-size: 1.2rem;
      font-weight: bolder;
      padding-left: 8px;
      line-height: 1;
      color: $navbar-text-color;
      margin-bottom: 0;

      .bottom-line {
        // padding-left: 8px;
        line-height: 1.1;
        font-size: 12px;
        font-weight: lighter;
        white-space: nowrap;
      }
    }
  }
  .navbar__element:first-of-type {
    a {
      border: none;
    }
  }
}

.main-navibar.swiper::after {
  content: url("/resources/swipe.png");
  // content: url("/images/page/swipe.png");
  position: absolute;
  top: -10px;
  right: 0;
  opacity: 0.1;
  transition: opacity 1000ms ease-in-out;
  animation: pulsation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes pulsation {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
}

/* **************************
***** MEDIA QUERIES ******************************************
************************** */
@media screen and (min-width: 768px) {
  .main-navibar.swiper {
    display: block;
  }

  .nav-top-normal {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .main-navibar.swiper {
    max-width: 990px;
    padding: 16px 0 0 6px;

    .navbar__elements {
      .navbar__elements {
        width: auto !important;
      }
    }
  }
}

@media screen and (min-width: 1254px) {
  .main-navibar.swiper {
    max-width: 1200px;
    padding: 20px 0px 0px 0px;

    .navbar__elements {
      .navbar__element {
        margin-right: 5px !important;
        a {
          padding-left: 5px;
        }
      }
    }
  }
  .main-navibar.swiper::after {
    opacity: 0;
    animation: none;
  }
}
